<h1 class="titulo-productos">{{producto.producto}}</h1>
<hr>

<div class="row">

    <div class="col-md-4">
        <img [src]="producto.img" class="img-fluid" [alt]="producto.producto">
        <br>
        <br>
        <a [routerLink]="['/productos']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <h3>Nombre del producto: {{producto.producto}}</h3>
        <br>
        <p>
            Descripción del producto: {{producto.descripcion}}
        </p>
        <br>
        <p>
            Precio: {{producto.precio}}
        </p>
        <div>
            <img src="" alt="">
        </div>
    </div>

</div>