<h1 class="animated fadeIn fast">Sobre MercadoFacil</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, culpa laudantium ex iste enim ipsam eveniet quis earum odit quaerat, dolore nihil corrupti fugit, sed id quisquam animi! Placeat, quos.</p>