<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/img/carousel.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/img/carousel.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/assets/img/carousel.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-4">MercadoFacil App</h1>
        <p class="lead">Aplicación web desarrollada por Gabriel Rosa Corona Y Brian Senteno Ballesteros</p>
    </div>
</div>