<h1 class="titulo-productos animated fadeIn">Productos</h1>

<div class="card-columns animated fadeIn fast">
    <div class="card" *ngFor="let producto of productos; let i = index">
        <img class="card-img-top" [src]="producto.img" [alt]="producto.producto">
        <div class="card-body">
            <h5 class="card-title">{{producto.producto}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <p class="card-text"><small class="text-muted">{{producto.precio}}</small></p>
            <button (click)="verProducto(i)" type="button" class="btn btn-primary btn-block">Ver más</button>
            <!-- <a [routerLink]="['/producto', i]" class="btn btn-outline-primary btn-block">Ver más</a> -->
        </div>
    </div>
</div>